defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    hold valid 10s

frontend http_front
    bind *:8081
    default_backend spring_boot_apps

backend spring_boot_apps
    balance roundrobin
    option httpchk GET /actuator/health
    # Использование шаблона для автоматического подхвата новых IP
    server-template app- 5 auction-command-service:8081 check resolvers docker init-addr last,libc,none

    # 'app-service' matches the service name in docker-compose.yml
    # server app1 auction-command-service:8081 check
    # server app2 auction-command-service:8081 check
